



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.labels {
  display: flex;
  flex-direction: column;
}

.label {
  border: 2px solid white;
}

.form-container {
  display: flex;
}

.display-container {
  display: flex;
  flex-direction: column-reverse;
}