body {
  background-color: #3761A8;
}

.listOfPokemon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 21px;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #3761A8;
  color: #FECA1B;
}
.centerText {
  text-align: center;
  margin: auto;
}