* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #282c34;
  color: white;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.personal {
  margin: 20px;
}